*{
    font-family: sans-serif;
}

body{
    background: linear-gradient(310deg, rgb(255, 255, 255) 97%, rgb(30, 117, 230) 10%);
}

.container{
    width: 80%;
    margin: auto;
}



h3{
    text-decoration: underline;
    width: 80%;
}

p{
    width: 80%;
}